<template>
  <div id="warper">
    <button @click="changeStatus">change status</button>
    <div id="myNetwork">

    </div>
  </div>

</template>
<script>
 import vis from 'vis/dist/vis.js';
 import 'vis/dist/vis.min.css';


export default {
  data(){
    return {
      nodeList:[
            {id: 1, label: 'Node 1'},
            {id: 2, label: 'Node 2'},
            {id: 3, label: 'Node 3'},
            {id: 4, label: 'Node 4'},
            {id: 5, label: 'Node 5'}
          ],
      nodes:{

      },
      edgeList:[
          {from: 1, to: 3},
          {from: 1, to: 2},
          {from: 2, to: 4},
          {from: 2, to: 5},
          {from: 3, to: 3}
      ],
      edges:{

      },
      shadowState:false,
      network:{

      }
    }
  },
  computed: {
    options:function(){
      const options = {
        nodes:{shadow:this.shadowState},
        edges:{shadow:this.shadowState}
      };
      // this.network.setOptions(options);
      return options;
    }
  },
  watch:{
    options:function(newValue){
      this.network.setOptions(newValue);
    }
  },
  methods: {
    changeStatus:function(){
      this.shadowState = !this.shadowState;
    }
  },
  mounted:function (){
    this.$nextTick(function(){
        // create a network
        this.nodes = new vis.DataSet(this.nodeList);
        this.edges = new vis.DataSet(this.edgeList);
        const networkData = {
          nodes:this.nodes,
          edges:this.edges
        }
        const container = document.getElementById('myNetwork');
        this.network = new vis.Network(container, networkData, this.options);
    })
  }
}

</script>
<style scoped>
#myNetwork {
  width: 600px;
  height: 400px;
  border: 1px solid lightgray;
}
</style>
