<template>
  <div>
    test
    <p>hello world</p>
    <simple-vis></simple-vis>
  </div>
</template>
<script>
import SimpleVis from './vis/SimpleVis.vue';
export default {
  components:{SimpleVis}
}
</script>
<style scoped>

</style>
